html {
    background: rgba(0, 0, 255, 0.452);
    background-size: cover;
    font-family: 'helvenita neue';
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 
                0 0 0px 4px rgba(160, 110, 110, 0.726),
                inset 0 0 0 3px rgb(146, 75, 75), 
                inset 0 0 10px black,
                0 0 10px rgba(0, 0, 0, 0.2)
}

.clockFace {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.handHours {
    width: 40%;
    height: 8px;
    background: black;
    position: absolute;
    top: 50%;
    left: 10%;
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
}

.handMinutes {
    width: 50%;
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
}

.handSecondes {
    width: 50%;
    height: 3px;
    background: rgb(204, 5, 5);
    position: absolute;
    top: 50%;
    left: 15;
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
}

.centerPoint {
    width: 10px;
    height: 10px;
    border: 3px solid black;
    border-radius: 50%;
    background: black;
    position: relative;
    top: 8%;
    left: 48%;
}

* p {
    /* display: inline-block; */
    color: white;
    font-weight: bolder;
    width: 10px;
    height: 10px;
    position: relative;
}
.three {
    position: relative;
    left: 108%;
    top: 30%;
}

.twelve {
    position: relative;
    top: -20%;
    left: 46%;
}

.nine {
    position: relative;
    top: 8%;
    left: -12% ;
}

.six {
    position: relative;
    top: 80%;
    left: 48%;
}